/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
a {
  cursor: pointer;
}
.ng-autocomplete {
  width: unset !important;
}
.ng-valid {
  border-radius: 0.25rem !important;
  /* border: 1px solid #ced4da !important; */
  background: #efefef !important;
  font-size: 13px !important;
}

