<div class="filter-left">
  <div class="box-left">
    <h4 translate>Profile</h4>
    <div class="list-categories">
      <ul class="list-group list-group-flush">
        <li class="list-group-item cate-list-items">
          <a appLocationHref [url]="'/profile/update'">
            <span translate>Update</span>
          </a>
        </li>
        <li class=" list-group-item cate-list-items">
          <a appLocationHref [url]="'/orders/list'">
            <span translate>Orders History</span>
          </a>
        </li>
        <li class="list-group-item cate-list-items">
          <a appLocationHref [url]="'/profile/wishlist'">
            <span translate>Wish List</span>
          </a>
        </li>
        <li class="list-group-item cate-list-items">
          <a appLocationHref [url]="'/profile/refunds'">
            <span translate>Refund Requests</span>
          </a>
        </li>
        <li class="list-group-item cate-list-items">
          <a (click)="complain()">
            <span translate>Complain</span>
          </a>
        </li>
        <li class="list-group-item cate-list-items">
          <a appLocationHref [url]="'/messages/conversations'">
            <span translate>Message</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
