<div class="card card-blank">
  <div class="card-body">
    <div class="d-flex no-block">
      <!-- <div class="m-r-20 align-self-center mobile">
        <span class="lstick m-r-20"></span>
        <img *ngIf="type === 'order'" src="assets/images/icon/income.png">
        <img *ngIf="type === 'product'" src="assets/images/icon/expense.png">
        <img *ngIf="type === 'sale'" src="assets/images/icon/assets.png">
      </div> -->
      <div class="align-self-center inline-block stat-title">
        <h5 class="text-highlight m-t-10">
          <span *ngIf="type === 'order'"><a [routerLink]="['/orders/list']">Orders </a></span>
          <span *ngIf="type === 'product'"><a [routerLink]="['/products/list']">Products </a></span>
          <span *ngIf="type === 'sale'"><a [routerLink]="['/orders/list']">Total Amount of Sales</a></span>
        </h5>
        <div *ngIf="type === 'order'" class="mobile-stat-block card-fancy orange-zone">
          <p class="inline-block">
            Total<span class="label label-danger">{{stat?.all}}</span>
          </p>
          <p class="inline-block">
            Completed<span class="label label-success">{{stat?.completed}}</span>
          </p>
          <p class="inline-block">
            Shipping<span class="label label-success">{{stat?.shipping}}</span>
          </p>
          <p class="inline-block">
            Pending<span class="label label-info">{{stat?.pending}}</span>
          </p>
          <p class="inline-block">
            Progressing<span class="label label-info">{{stat?.progressing}}</span>
          </p>
          <p class="inline-block">
            Refunded<span class="label label-warning">{{stat?.refunded}}</span>
          </p>
          <p class="inline-block">
            Cancelled<span class="label label-warning">{{stat?.cancelled}}</span>
          </p>
        </div>

        <div *ngIf="type === 'product'" class="mobile-stat-block card-fancy green-zone">
          <p class="inline-block">
            Total<span class="label label-danger">{{stat?.total}}</span>
          </p>
        </div>

        <div *ngIf="type === 'sale'" class="mobile-stat-block card-fancy purple-zone">
          <p class="inline-block">
            Balance<span class="label label-danger no-wrap">{{stat?.balance | currency}}</span>
          </p>
          <p class="inline-block">
            Commission<span class="label label-info no-wrap">{{stat?.commission | currency}}</span>
          </p>
          <p class="inline-block">
            Tax<span class="label label-info no-wrap">{{stat?.taxPrice | currency}}</span>
          </p>
          <p class="inline-block">
            Total Price<span class="label label-warning no-wrap">{{stat?.totalPrice | currency}}</span>
          </p>
          <p class="inline-block">
            Total Product<span class="label label-warning">{{stat?.totalProduct}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>