<div class="card">
    <div class="card-body" *ngIf="mall">
      <form (submit)="submit(frm)" #frm>
        <div class="row">
          <div class="col col-md-6">
            <div class="form-group">
              <label>Title (*)</label>
              <input type="text" name="mallTitle" class="form-control" placeholder="Enter Title" [(ngModel)]="mall.title" required />
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="malldesc" placeholder="Enter some text" [(ngModel)]="mall.description"></textarea>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Image (*)
                <media-select (onSelect)="selectMedia($event)"></media-select>
              </label>
              <div *ngIf="media">
                <img [src]="media.thumbUrl" class="img-thumbnail" />
              </div>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" name="address" placeholder="Enter some text" [(ngModel)]="mall.address"></textarea>
            </div>
          </div>
          <div class="col col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>