<div class="row row-detail-main justify-content-center pad-bt-45">
  <div class="col-md-4">
    <div class="card login-box  sign-box">
      <article class="card-body login-form">

        

        <form class="form-horizontal form-material" #frm="ngForm">
          <h3 class="box-title m-b-20" translate>Sign In</h3>
          <!-- <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" placeholder="{{'Email' | translate}}" required type="text" autocomplete="off" name="email" #email="ngModel" pattern="/^(\d{11}|\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3}))$/" [(ngModel)]="credentials.email" />
              <div *ngIf="email.errors && (email.dirty || email.touched || submitted)">
                <p [hidden]="!email.errors.required" class="error" translate>
                  Email is required
                </p>
                <p [hidden]="!email.errors.pattern" class="error" translate>
                  Email / Phone is required
                </p>
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" placeholder="{{'Password' | translate}}" required type="password" autocomplete="off" name="pw" [minlength]="6" #password="ngModel" [(ngModel)]="credentials.password" />
              <div *ngIf="password.errors && (password.dirty || password.touched || submitted)">
                <p [hidden]="!password.errors.minlength" class="error" translate>
                  Password must be at least 6 characters!
                </p>
                <p [hidden]="!password.errors.required" class="error" translate>
                  Password is required
                </p>
              </div>
            </div>
          </div> -->

          <div [formGroup]="login_form">
            <div class="col-md-12" style="padding: 0px;">
              <div class="form-group">
                <label>Email / Phone :</label>
                <input  class="form-control" type="text" class="form-control" placeholder="Email/Phone" formControlName="email">
                <span class="text-danger" *ngIf="login_form.controls['email'].hasError('required') && (login_form.controls['email'].dirty || login_form.controls['email'].touched)">This field is required</span>
                <span class="text-danger" *ngIf="login_form.controls['email'].hasError('pattern') && (login_form.controls['email'].dirty || login_form.controls['email'].touched)">Please enter valid email address or phone number</span>
              </div>
              <div class="form-group">
                <label>Password :</label>
                <input  class="form-control" type="password" class="form-control" placeholder="Password" formControlName="password">
                <span class="text-danger" *ngIf="login_form.controls['password'].hasError('required') && (login_form.controls['password'].dirty || login_form.controls['password'].touched)">This field is required</span>
                <span class="text-danger" *ngIf="login_form.controls['password'].hasError('minlength') && (login_form.controls['password'].dirty || login_form.controls['password'].touched)">Please enter minimum 6 character</span>
              </div>
            </div>
          </div>

          <div class="form-group text-center m-t-20">
            <button class="btn btn-default btn-sign-log" (click)="login()" type="submit" translate>Log In</button>
          </div>
          <div class="form-group row">
            <div class="col-md-12 font-14">
              <a [routerLink]="['/auth/signup']" class="color-dark pull-left underline" translate>Register</a>
              <a class="color-dark pull-right underline" [routerLink]="['/auth/forgot']" translate> Forgot password?</a>
            </div>
          </div>
        </form>
        <hr>
        <div class="socials-box social-logon">
          <div class="social-login facebook">
            <facebook-login></facebook-login>
          </div>
          <div class="social-login google">
            <google-login></google-login>
          </div>
          <button type="button" class="btn btn-round"(click)="signInWithInsta()"><i class="fa fa-instagram"> </i></button>
          <!-- <div class="social-login instagram"> 
            <instagram-login></instagram-login>
          </div> -->
        </div>
        <div class="socials-box custom-socials-box" style="display: none;">
          <div class="social-login facebook">
            <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.2784 14.6463L12.9582 10.2066H8.6989V7.32088C8.6989 6.10692 9.29548 4.92071 11.2031 4.92071H13.1385V1.14008C13.1385 1.14008 11.3766 0.841797 9.69782 0.841797C6.18773 0.841797 3.89161 2.97143 3.89161 6.82142V10.2066H0V14.6463H3.89855V25.3846H8.6989V14.6463H12.2784Z" fill="white"/>
            </svg>                                    
          </div>
          <div class="social-login google">
            <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.10752 9.99685L1.97227 7.60938C1.17324 9.22409 0.720751 11.0451 0.720703 12.9812C0.720703 14.8905 1.17807 16.7147 1.98939 18.3437L6.10723 15.9663C5.70108 15.0517 5.47094 14.043 5.47099 12.9812C5.47104 11.9195 5.70131 10.9111 6.10752 9.99685Z" fill="white"/>
              <path d="M20.8232 3.81828C18.6898 1.96253 15.9019 0.839761 12.8517 0.8418C8.67871 0.844597 4.95403 2.975 2.76562 6.23938L6.90424 8.62889C8.25007 6.79306 10.4152 5.59204 12.8603 5.59209C14.6427 5.59213 16.2765 6.22927 17.5527 7.28504C17.8651 7.54344 18.3218 7.51977 18.6084 7.23312L20.8624 4.97918C21.1874 4.65416 21.17 4.11987 20.8232 3.81828Z" fill="white"/>
              <path d="M24.9163 11.5758C24.8691 11.1739 24.5312 10.8697 24.1267 10.8697L14.1794 10.8691C13.7422 10.8691 13.3877 11.2236 13.3877 11.6609V14.8251C13.3877 15.2623 13.7422 15.6168 14.1794 15.6168H19.7536C19.2402 16.9531 18.3484 18.1018 17.213 18.9369L19.5807 23.0377C21.9638 21.4227 23.7758 18.981 24.5739 16.0986C25.0078 14.5314 25.0859 13.016 24.9163 11.5758Z" fill="white"/>
              <path d="M15.8443 19.7306C14.9312 20.1373 13.9233 20.3681 12.8603 20.3682C10.4125 20.3682 8.24858 19.1672 6.90369 17.332L2.78271 19.7113C4.95277 22.9436 8.63572 25.1184 12.8602 25.1184C14.7699 25.1184 16.5876 24.6516 18.2134 23.8341L15.8443 19.7306Z" fill="white"/>
            </svg>                           
          </div>
          <div class="social-login instagram">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.5819 5.22461C18.7842 5.22461 18.146 5.86974 18.146 6.66055C18.146 7.4583 18.7911 8.0965 19.5819 8.0965C20.3797 8.0965 21.0179 7.45136 21.0179 6.66055C21.0179 5.86974 20.3727 5.22461 19.5819 5.22461Z" fill="white"/>
              <path d="M13.1861 7.07031C9.85638 7.07031 7.14404 9.78265 7.14404 13.1124C7.14404 16.4421 9.85638 19.1544 13.1861 19.1544C16.5158 19.1544 19.2282 16.4421 19.2282 13.1124C19.2282 9.78265 16.5158 7.07031 13.1861 7.07031ZM13.1861 16.9901C11.0495 16.9901 9.3153 15.2559 9.3153 13.1193C9.3153 10.9827 11.0495 9.24851 13.1861 9.24851C15.3227 9.24851 17.0569 10.9827 17.0569 13.1193C17.0569 15.2489 15.3157 16.9901 13.1861 16.9901Z" fill="white"/>
              <path d="M17.9794 25.3916H8.1845C4.11946 25.3916 0.810547 22.0827 0.810547 18.0176V8.21575C0.810547 4.15071 4.11946 0.841797 8.1845 0.841797H17.9864C22.0514 0.841797 25.3603 4.15071 25.3603 8.21575V18.0176C25.3534 22.0827 22.0445 25.3916 17.9794 25.3916ZM8.1845 3.15179C5.39585 3.15179 3.12054 5.42017 3.12054 8.21575V18.0176C3.12054 20.8063 5.38892 23.0816 8.1845 23.0816H17.9864C20.775 23.0816 23.0503 20.8132 23.0503 18.0176V8.21575C23.0503 5.4271 20.7819 3.15179 17.9864 3.15179H8.1845Z" fill="white"/>
            </svg>                           
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
