
<div class="container-fluid">
    <div class="row card-stream">
        <div class="col-sm">
            <div class="card">
            <div class="card-body">
                <p class="card-title">Complete Delivery</p>
                <strong class="card-meta">120</strong>
                <hr class="margin-control">
                <a class="card-link" href="#">View Now</a>
            </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">In progress delivery</p>
                    <strong class="card-meta">03</strong>
                    <hr class="margin-control">
                    <a class="card-link" href="#">View Now</a>
                </div>
                </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Returned</p>
                    <strong class="card-meta">11</strong>
                    <hr class="margin-control">
                    <a class="card-link" href="#">View Now</a>
                </div>
                </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Total Categories</p>
                    <strong class="card-meta">10</strong>
                    <hr class="margin-control">
                    <a class="card-link" href="#">View Now</a>
                </div>
                </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h2 class="title-head">Delivery Overview</h2>
        </div>
        <div class="col-6 col-sm-6">
            <input type="text" class="form-control" placeholder="Search Products/Categories/Brands">
        </div>
        <div class="col-2 col-sm-2">
            <select name="" class="form-control" id="">
                <option value="">1</option>
            </select>
        </div>
        <div class="col-2 col-sm-2">
            <select name="" class="form-control" id="">
                <option value="">1</option>
            </select>
        </div>
        <div class="col-2 col-sm-2">
            <select name="" class="form-control" id="">
                <option value="">1</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-striped cstm-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Serial No.</th>
                        <th>Quantity</th>
                        <th>Location</th>
                        <th>Delivery Date</th>
                        <th>Vendor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                            </div>
                        </td>
                        <td>
                            <span>1554257252</span>
                        </td>
                        <td>
                            <span>Levis Summer Hot Look</span>
                        </td>
                        <td>152454541</td>
                        <td>05</td>
                        <td>12/Ka/A Shamoly Dhaka</td>
                        <td>01-14-2021</td>
                        <td>Moushumi Store</td>
                        <td>
                            <button class="td-btn">Invoice</button>
                            <button class="td-btn">Done</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="" aria-label="...">
                            </div>
                        </td>
                        <td>
                            <span>1554257252</span>
                        </td>
                        <td>
                            <span>Levis Summer Hot Look</span>
                        </td>
                        <td>152454541</td>
                        <td>05</td>
                        <td>12/Ka/A Shamoly Dhaka</td>
                        <td>01-14-2021</td>
                        <td>Moushumi Store</td>
                        <td>
                            <button class="td-btn">Invoice</button>
                            <button class="td-btn">Done</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>