/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
a {
  cursor: pointer;
}

.ng-autocomplete {
  width:100% !important;
  max-width: unset !important;
  color: #67757c;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}
.autocomplete-container .input-container input {
  background: #efefef !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #67757c !important;
}

