<div class="padding-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <profile-sliderbar></profile-sliderbar>
      </div>
      <div class="col-sm-9">
        <h3 class="extra-head">Update Profile</h3>
        <div class="panel panel-default">
          <form role="form" #frm="ngForm" (submit)="submit(frm)" ngNativeValidate method="post">
            <div class="panel-heading resume-heading">
              <div class="row">
                <div class="col-sm-5">
                  <figure>
                    <img class="img-circle img-responsive" class="avatar" width="100%" [src]="avatarUrl">
                  </figure>
                  <file-upload [options]="avatarOptions"></file-upload>
                </div>
                <div class="col-sm-7">
                  <ul class="list-group update-profile">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">
                          <i class="fa fa-user"></i>&nbsp; <span translate class="required">Name</span>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" placeholder="{{'Enter your name' | translate}}" [(ngModel)]="info.name" required name="name" #name="ngModel" />
                          <div *ngIf="name.errors && (name.dirty || name.touched || isSubmitted)">
                            <p [hidden]="!name.errors.required" style="color:red" translate> Please enter user first name and last name! </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-envelope"></i>&nbsp; <span translate class="required">Email</span>
                        </div>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" placeholder="user@example.com" [(ngModel)]="info.email" name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [disabled]="info.email!==''&& info.email!==null && info.emailVerified" />
                          <div *ngIf="email.errors && (email.dirty || email.touched || isSubmitted)">
                            <p [hidden]="!email.errors.required" style="color:red" translate> Email is required </p>
                            <p [hidden]="!email.errors.pattern" style="color:red" translate> Please enter a valid email address </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-phone"></i>&nbsp; <span translate class="required">Phone</span>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" [(ngModel)]="info.phoneNumber" name="phone" required #phone="ngModel"/>
                          <div *ngIf="phone.errors && (phone.dirty || phone.touched || isSubmitted)">
                            <p [hidden]="!phone.errors.required" style="color:red" translate> Phone Number is required </p>
                            
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3"><i class="fa fa-location-arrow"></i>&nbsp; <span translate>Address</span>
                        </div>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" [(ngModel)]="info.address" name="address" />
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3">
                          <i class="fa fa-unlock-alt"></i>&nbsp; <span translate class="required">Password</span>
                        </div>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" [(ngModel)]="info.password" required name="password" #password="ngModel" minlength="6" />
                          <div *ngIf="password.errors && (password.dirty || password.touched || isSubmitted)">
                            <p [hidden]="!password.errors.minlength" style="color:red" translate> Password must be at least 6 characters! </p>
                          </div>
                          <p class="help help-block">
                            <small translate>Blank to keep current password</small>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <button class="btn btn-primary btn-black" type="submit" translate>Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
