<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <h2 class="title-head">Overview</h2>
            <div class="row">
                <div class="col-12">
                    <div class="card panel-info">
                        <div class="card-body ">
                            <div class="image-container">
                                <img [src]="userImage" class="img-fluid" [alt]="imageAlt">
                            </div>
                            <div class="info-container">
                                <p class="name">Sumon Biswas</p>
                                <p class="other-info"><label>Address:</label>12/KA,F/A, Mukti Niketon, Road#3,Shyamoli, Dhaka 1207</p>
                                <p class="other-info"><label>Phone: </label>01717761087</p>
                                <p class="other-info"><label>Trade: </label>EMP-265484554</p>
                                <button routerLink="edit" class="btn-general">Edit Information</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>