@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  color: #000;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}
a{
  color: #000;
}
.horizontal-nav .left-sidebar {
  position: fixed;
  width: 220px;
  left: 0px;
  top: 0px;
  height: 100%;
  padding-top: 0px;
  background: #DC2626 !important;
  box-shadow: unset;
  box-shadow: 0px 2px 6px 0px #6b6b6b;
  border-right: 2px solid #ff6c6c;
}

.sidebar-cstm{
  width: 100%;
  .logo-admin{
    padding-left: 12px;
    padding-top: 10px;
    background: #a52626;
    padding-bottom: 10px;
    img{
      width: 40px;
    }
  }
}
.scroll-sidebar{
  display: flex;
  .sidebar-nav{
    padding: 0px !important;
    width: 100% !important;
    margin-top: 10px;
  }
  #sidebarnav{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.topbar .top-navbar {
  background: #7460ee;
}

.container-fluid.fluid-custom {
  padding: 5px;
  display: inline-block;
  width: 100%;
}

.horizontal-nav .sidebar-nav #sidebarnav>li>ul {
  position: absolute;
  left: 0px;
  width: 220px;
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 1001;
  background: #edf0f5;
  display: none;
  padding-left: 1px;
}

.label.label-warning.position-relative {
  margin-right: 15px;
  position: relative;
  display: inline-block;
}

.label.label-warning.position-relative a.remove-item {
  position: absolute;
  top: -5px;
  right: -10px;
  color: #333;
  font-size: 15px;
}

.line-text {
  color: red;
  white-space: pre-line;
}

.mar-20 {
  margin: 20px 0;
}

.card-body {
  .table {
    i {
      padding-left: 5px;
    }
  }
}

.messaging {
  padding: 0 0 50px 0;

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }

  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }

  .recent_heading {
    float: left;
    width: 40%;
  }

  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    padding: 0;
  }

  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

  .srch_bar {
    input {
      border: 1px solid #cdcdcd;
      border-width: 0 0 1px 0;
      width: 80%;
      padding: 2px 0 4px 6px;
      background: none;
    }

    .input-group-addon {
      button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
      }

      margin: 0 0 0 -27px;
    }
  }

  .chat_ib {
    h5 {
      font-size: 15px;
      color: #464646;
      margin: 0 0 8px 0;

      span {
        font-size: 13px;
        float: right;
      }
    }

    p {
      font-size: 14px;
      color: #989898;
      margin: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chat_img {
    float: left;
    width: 11%;
  }

  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;

    &:hover {
      cursor: pointer;
    }
  }

  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }

  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }

  .active_chat {
    background: #ebebeb;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
}

.socials-box {
  display: inline-block;
  width: 100%;

  .social-login {
    width: 50%;
    float: left;
    padding: 10px 15px;
  }

  .facebook button {
    background: #5e80fd;
    border: 1px solid #5e80fd;
  }

  .facebook:hover button {
    background: #fe980f;
    border: 1px solid #fe980f;
  }

  .google button {
    background: #da1919;
    border: 1px solid #da1919;
  }

  .google:hover button {
    background: #fe980f;
    border: 1px solid #fe980f;
  }
}

.button-socials {
  display: inline-block;
  width: 50%;
}

.register-box {
  width: 800px;
}

.flags-dropdown.dropdown-menu {
  z-index: 1000;
  height: 400px;
  overflow-y: scroll;

  .dropdown-item.flags {
    span {
      float: unset;
    }
  }
}

.d-flex.no-block {
  .align-self-center {
    align-self: unset !important;
  }
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.text-highlight {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.message-content {
  width: 100%;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-row-h-82 {
  tr {
    height: 82px;
  }
}

.table-custom {
  tr {
    th {
      min-width: 120px;

      .input-date {
        width: 300px;

        span {
          padding: 8px 0;
        }

        .br-l {
          border-radius: 0.25rem 0 0 0.25rem;
        }

        .br-r {
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }

      .button-custom {
        color: #fff;
      }
    }

    .min-w-40 {
      width: 40px;
      min-width: unset;
    }

    .min-w-180 {
      min-width: 180px;
    }

    .min-w-150 {
      min-width: 150px;
    }
  }
  .label{
    font-size: 12px;
    &.label-warning{
      background: transparent;
      color: #000;
    }
    &.label-success{
      background: transparent;
      color: #000;
    }
  }
}

.required-text {
  color: red;
}

.option-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  &:last-child {
    border-bottom: none;
  }
}
.nav-top-cus.flex-column {
  flex-direction: unset!important;
  margin-bottom: 20px;
  a.nav-link {
    display: inline-block;
    margin-right: 15px;
    &:hover {
      color: #fff;
      background: #745af2;
    }
  }
}
.des-hover {
  position: relative;

  span {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 310px;
    white-space: pre-line;
    padding: 10px;
    font-size: 15px;
    background: #c4c4c4;
    border-radius: 10px;
    z-index: 1000;
  }

  &:hover span {
    display: block;
  }
}
.horizontal-nav .left-sidebar {
  position: fixed;
  width: 220px;
  left: 0px;
  top: 0px;
  height: 100%;
  padding-top: 0px;
  background: #DC2626 !important;
  box-shadow: unset;
  box-shadow: 0px 2px 6px 0px #6b6b6b;
  border-right: 2px solid #ff6c6c;
}

.sidebar-cstm{
  width: 100%;
  .logo-admin{
    padding-left: 12px;
    padding-top: 10px;
    background: #a52626;
    padding-bottom: 10px;
    img{
      width: 40px;
    }
  }
}
.scroll-sidebar{
  display: flex;
  .sidebar-nav{
    padding: 0px !important;
    width: 100% !important;
    margin-top: 10px;
  }
  #sidebarnav{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.topbar .top-navbar {
  background: #7460ee;
}

.container-fluid.fluid-custom {
  padding: 5px;
}

.page-wrapper {
  height: calc(100vh - 110px);
}

.horizontal-nav .sidebar-nav #sidebarnav>li>ul {
  position: absolute;
  left: 100%;
  width: 220px;
  max-height: 350px;
  overflow-y: auto;
  padding-bottom: 10px;
  z-index: 1001;
  background: #484848;
  display: none;
  padding-left: 1px;
  top: 0px;
}

.star {
  i {
    color: #ccc;
  }

  .active {
    color: #eda71f;
  }
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.text-highlight {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.d-flex.no-block {
  .align-self-center {
    align-self: unset !important;
  }
}

.custom-file {
  height: 100%;
}

.table-custom {
  tr {
    th {
      min-width: 100px;
    }

    .min-w-158 {
      min-width: 158px;
    }

    .min-w-120 {
      min-width: 150px;
    }
  }
  tr.sub-th{
    th{
      background: #dedede;
    }
    td{
      background: #dedede;
    }
  }
  i{
    padding-left: 0px !important;
  }
}

.error {
  color: red;
}

.required-text {
  color: red;
}

.daily-font-size {
  font-size: 20px;
}

.option-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }
}

.nav-top-cus.flex-column {
  flex-direction: unset !important;
  margin-bottom: 20px;

  a.nav-link {
    display: inline-block;
    margin-right: 15px;

    &:hover {
      color: #fff;
      background: #745af2;
    }
  }
}

.collapse.in {
  display: block !important;
}

.menu-drop-bars {
  display: none;
}

.btn.btn-success.btn-sroll-mobile {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.min-w-200 {
  min-width: 200px !important;
}

.fr-box {
  padding-top: 85px;

  .fr-toolbar.fr-top {
    position: absolute;
    width: 100%;
  }
}

.title-main{
  font-weight: 600;
  margin-bottom: 0px;
  position: relative;
  text-transform: capitalize;
  span{
    background: #fff;
    color: #000;
    padding: 0px 0;
    font-weight: 800;
    /* border-bottom: 2px solid #dc2626; */
    font-size: 1.3em;
    position: relative;
    padding-left: 0px;
    text-transform: uppercase;
    &::before{
      content: " ";
      position: absolute;
      width: 5px;
      background: #dc2626;
      height: 100%;
      top: 0px;
      left: 0px;
    }
  }
}

.card-fancy{
  display: flex;
  flex-wrap: wrap;
  p{

    flex: 1 0 15%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: #802eda;
    padding: 10px;
    border-radius: 5px;
    color: #ffffffba;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: left;
    max-width: 360px;
    text-transform: uppercase;
    line-height: 25px;
    span{
      background: transparent;
      font-size: 35px;
      display: block;
      border-top: 1px solid #ffffff52;
      border-radius: 0px;
      line-height: 40px;
      padding: 0px;
      padding-top: 10px;
    }

  }
  &.green-zone{
    p{
      background: #c4ffd0;
      color: #059823;
      span{
        color: #000 !important;
      }
    }
  }
  &.purple-zone{
    p{
      background: #dcceff;
      color: #501cb5;
      span{
        color: #000 !important;
      }
    }
  }
  &.orange-zone{
    p{
      background: #ffddd2;
      color: #ff541d;
      span{
        color: #000 !important;
      }
    }
  }
}

.table{
  thead{
    th{
      background: #e4e4e4;
      color: #000;
      font-weight: 700;
      font-size: 11px;
      text-transform: uppercase;
    }
  }
  td{
    font-size: 13px;
    font-weight: 500;
  }
}

.form-control{
  background: #efefef;
  font-size: 13px;
}
.input-group-prepend .btn, .input-group-append .btn {
  position: relative;
  z-index: 2;
  height: 38px;
}

.card-body{
  position: relative;
  border-top: 4px solid #ffdcdc;
  box-shadow: 4px 10px 23px 4px #e0e0e0;
  &:before{
    content: " ";
    width: 100px;
    height: 2px;
    // background: #ff83ab;
    position: absolute;
    top: -1px;
    left: 0px;
  }
}
.stat-title{
  h5{
    font-weight: 400;
    text-transform: uppercase;
    a{
      color: #000;
      font-weight: 600;
    }
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #3e3e3e;
}

.nav-top-cus.flex-column a.nav-link:hover {
  color: #fff;
  background: #000000;
}

.btn-primary, .btn-primary.disabled{
  background: #333;
  border-color: #333;
}
// .req-pay-container{
//   background: #e6e6e6;
// }
.req-pay-container{
  display: flex;
}

.req-pay-container .input-group{
  display: flex;
  align-items: center;
}
.req-pay-container .input-group label{
  color: #000;
  margin-bottom: 0px;
  font-weight: 600;
}

.card-blank{
  background: #f9f9f9;
  padding: 15px;
  box-shadow: 2px 2px 10px 0px #e0e0e0;
  // border: 1px solid #e6e6e6 !important;
  .card-body{
    padding: 0px;
    background: transparent !important;
    box-shadow: none;
    border-top: 0px;
  }
}

.color-light{
  color: #fff !important;
}
.prod-action{
  .btn{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    &.btn-fw{
      width: 270px;
    }
  }
}

.order-row-flex{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  .input-group{
    align-items: center;
    span{
      font-weight: 600;
    }
  }
}
.req-payout-list{
  label{
    font-size: 18px;
  }
  h4{
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    background: #ffffff;
  }
  .pending{
    label{
      color: #a4a4a4;
    }
    h4{
      background: #f3f3f3;
    }
  }
  .approved{
    label{ 
      color: #15af28;
    }
    h4{
      background: #f4fff3;
      border-color: #c9ffc9;
    }
  }
}

.balance-payout{
  display: flex;
  flex-direction: row;
  flex-basis: 120px;
  flex-wrap: wrap;
  h4{
    background: #ffe4e4;
    margin-right: 10px;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 40px;
    display: flex;
    border-radius: 0px;
    flex-direction: column;
    border-radius: 7px;
    label{
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.7;
      margin-bottom: 15px;
      color: #e73838;
      font-weight: 600;
    }
    span{
      font-size: 26px;
      color: #000;
    }
  }

  &.pending{
    h4{
      background: #e0e0e0;
      flex: 33.33333%;
      margin-bottom: 10px;
      border-radius: 7px;
      border: 0px !important;
      label{
        color: #000;
      }
      span{
        color: #000;
      }
    }
  }
  &.approved{
    h4{
      background: #daf5d2;
      flex: 33.33333%;
      margin-bottom: 10px;
      border-radius: 7px;
      border: 0px !important;
      label{
        color: #084a0b;
      }
      span{
        color: #000;
      }
    }
  }
}

.card{
  background: #f9f9f9 !important;
  border-radius: 10px;
}
.card-body{
  border-top: 0px !important;
  box-shadow: none !important;
}
.table thead th{
  background: #e0e0e0 !important;
  font-size: 12px;
}
.btn-outline-secondary {
  color: #ffffff !important;
  border-color: #555 !important;
  background: #555;
  &:hover{
    background: #000;
  }
}

.bg-dark{
  .list-group-item{
    border: 0px !important;
  }
}

.list-group-item{
  border: 0px !important;
}

.card-info{
  .bg-dark{
    background: #fff !important;
    text-align: left !important;
    padding-left: 10px;
  }
  .color-light{
    color: #000 !important;
  }
  .list-group{
    margin-bottom: 15px;
  }
}

.view-special-box{
  font-size: 15px;
  font-weight: 500;
  .col-md-6{
    margin-bottom: 15px;
  }
}

.social-box-new{
  display: flex;
  div{
    padding: 0px !important;
  }
  p{
    margin-bottom: 0px !important;
  }
  i{
    display: block;
  }
}


.page-wrapper{
  background: #fafafa;
  height: calc(100vh - 0px);
  &::before{
    position: absolute;
    overflow: hidden;
    left: 0px;
    content: " ";
    width: 100%;
    height: 120px;
    top: 0px;
    // background: linear-gradient(to right, #EF4444, #DC2626);

  }
}
.card-body{
  border-top: 0px;
  box-shadow: none;
}
.table thead th{
  background: #fff !important;
  color: #000;
  border: 1px solid #e6e6e6;
}
.table-custom tr.sub-th td{
  background: #fff !important;
}
.table-custom tr.sub-th th{
  background: #fff !important;
}
.table td{
  background: #fff !important;
}

.horizontal-nav .left-sidebar {
  background: #ec3f3f !important;
  box-shadow: 0px 1px 1px 0px #777777;
  border-right: 0px solid #dedede;
}
.horizontal-nav.defaultdark .sidebar-nav ul#sidebarnav li a {
  padding: 12px 15px;
  color: #fff !important;
}
.horizontal-nav .sidebar-nav #sidebarnav > li > ul{
  background: #f9254c;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.horizontal-nav .sidebar-nav #sidebarnav > li > ul li{
  border-bottom: 1px solid #d22659;
}
.horizontal-nav .sidebar-nav #sidebarnav > li > ul li:last-child{
  border-bottom: 0px;
}
.card-blank{
  border: 0px !important;
  background: #fff !important;
  border-radius: 10px;
}
.card-body{
  background: #fff !important;
}

.check-flex{
  display: flex;
  align-items: center;
  input{
    margin-left: 10px;
  }
}

.sidebar-nav ul li a{
  font-weight: 500;
}

.btn-success, .btn-success.disabled{
  background: #000;
  color: #fff !important;
  border-color: #000;
  font-size: 12px;
}

.title-main span {
background: transparent;
  color: #000;
  padding: 4px 0px;
  font-weight: 800;
  font-size: 21px;
  text-transform: uppercase;
}

.page-titles .breadcrumb li a{
  color: #848484;
  text-transform: uppercase;
}

.page-titles .breadcrumb .breadcrumb-item.active {
  color: #ec3f3f;
  text-transform: uppercase;
}

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\e649";
  font-family: themify;
  color: #000;
  font-size: 15px;
}
.card-fancy p{
  background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
height: 120px;
line-height: 50px;
color: #fff !important;
flex: 1 0 20%;

}
.card-fancy p span{
  font-size: 47px;
  line-height: 55px;
  padding: 0px;
  color: #fff !important;
}
.card-fancy.green-zone p{
  background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);

}
.card-fancy.purple-zone p{
  background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

.card-fancy.orange-zone p{
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
}
.fa-pencil{
  color: #000;
  // margin-right: 10px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #ffffff;
  background-color: #59585a;
  border-color: #0c0c0c;
}
a {
  color: #ed205d;
}

.sidebar-cstm .logo-admin img {
  width: 40px;
  background: #dc2727;
  padding: 8px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
 }
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f05ba8 14%,#595959 64%);
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #fc2d2d 14%,#000000 64%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }

 .sidebar-cstm .logo-admin {
  padding-left: 12px;
  padding-top: 10px;
  background: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.sidebar-nav > ul > li > a i {
  width: 25px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  color: #fff;
}
.card-config{
  .input-group{
    input{
      margin-right: 5px;
      border-radius: 3px !important;
    }
    button{
      font-size: 14px;
    }
  }
  .media-select-btn{
    color: #ee205b;
    margin-right: 20px;
    margin-left: 20px;
  }
  .col-md-12{
    margin-bottom: 10px;
  }
}

.text-highlight {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.stat-title h5 a {
  color: #df2a2a;
  font-weight: 600;
}
.media-select-btn{
  margin-left: 20px;
  margin-right: 20px;
  color:#f02159 ;
}
.req-pay-container {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding: 25px !important;
  margin: 0px;
}

.btn-outline-secondary{
  box-shadow: none;
  background: #000 !important;
  color: #fff !important;
  &:hover{
    background:#f02159 !important;
    color: #fff !important;
    border-color: 1px solid #f02159 !important;
  }
}

.page-titles .breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  background: transparent;
  font-size: 14px;
  background: transparent;
  padding: 4px 0px;
  margin-top: 10px;
}

.scroll-sidebar .sidebar-nav {
  padding: 0px !important;
  width: 100% !important;
  margin-top: 0px;
  height: calc(100vh - 75px);
}

.title-main span::before{
  display: none;
}

.card-fancy.green-zone p span {
  color: #fff !important;
}
.card-fancy.purple-zone p span {
  color: #fff !important;
}
.card-fancy.orange-zone p span {
  color: #fff !important;
}

.little-profile{
  display: flex;
  flex-direction: row;
}
.prof-details{
  padding-left: 20px;
  h6{
    margin-bottom: 10px;
    margin-top: 14px;
    color: #000;
  }
  .soc-pro{
    li{
      padding-left: 0px;
    }
  }
}

.btn-danger, .btn-danger.disabled {
  background: #1d1d1d;
  border: 1px solid #131313;
  box-shadow: none;
}

.sidebar-cstm .logo-admin{
  display: flex;
  align-items: center;
  span{
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 5px;
  }
}

.card-fancy{
  display: flex;
  flex-wrap: wrap;
  div{
    // flex: 1 0 15%;
    display: flex;
    flex-direction: row;
    margin: 5px;
    background: #ffd2d2;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    max-width: 360px;
    text-transform: uppercase;
    line-height: 25px;
    svg{
      width: 60px;
      height: 60px;
    }
    &.stat-card-title{
      display: block;
      padding: 0px;
      align-items: center;
      text-align: right;
      padding-top: 12px;
      span{
        display: block;
        background: transparent;
        font-size: 2.5em;
        text-align: right;
        padding: 0px;
        line-height: 25px;
        color: #000;
      }
    }
  }
}

.stat-card > div:first-child{
  background: #ffbcbc;
  border-radius: 50%;
  svg{
    fill: #ec3f3f;
    width: 65px;
    height: 65px;
    path{
      fill: #ec3f3f;
    }
  }
}

.table-custom td{
  vertical-align: middle;
}

.pinfo-block{
  background: #ec3f3f1f;
  padding: 18px 15px;
  margin-bottom: 20px;
  h6{
    margin-bottom: 0px;
    margin-top: 14px;
    color: #000 !important;
    border-bottom: 1px solid #fffdfd;
    padding-bottom: 12px;
  }
  .soc-pro{
    li{
      a{
        color: #ec3f3f;
      }
    }
  }
}

.nav-top-cus{
  a{
    background: #ec3f3f;
    color: #fff;
    margin-right: 5px !important;
  }
}

.flex-column.nav-pills{
  a{
    background: #ec3f3f;
    color: #fff;
    margin-right: 5px !important;
    margin-bottom: 7px;
  }
}