<div class="card">
  <div class="card-body">
    <div class="d-flex no-block">
      <!-- <div class="m-r-20 align-self-center">
        <span class="lstick m-r-20"></span>
        <img *ngIf="type === 'order'" src="assets/images/icon/income.png">
        <img *ngIf="type === 'user' || type ==='shop'" src="assets/images/icon/staff.png">
        <img *ngIf="type === 'product'" src="assets/images/icon/expense.png">
      </div> -->
      <div class="align-self-center inline-block">
        <h5 class="text-highlight m-t-10">
          <span *ngIf="type === 'order'"><a [routerLink]="['/orders/list']">Orders</a></span>
          <span *ngIf="type === 'product'"><a [routerLink]="['/products']">Products</a></span>
          <span *ngIf="type === 'user'"><a [routerLink]="['/users/list']">Users</a></span>
          <span *ngIf="type === 'shop'"><a [routerLink]="['/shops']">Shops</a></span> Statistic</h5>
        <div *ngIf="type === 'shop'" class="card-fancy">
          <p class="inline-block">
            Total <span class="label label-danger">{{stat?.all}}</span>
          </p>
          <p class="inline-block">
            Featured <span class="label label-success">{{stat?.featured}}</span> 
          </p>
          <p class="inline-block">
            Actived <span class="label label-success">{{stat?.activated}}</span> 
          </p>
          <p class="inline-block">
            InActived <span class="label label-warning">{{stat?.deactivated}}</span> 
          </p>
          <p class="inline-block">
            Verified <span class="label label-success">{{stat?.verified}}</span> 
          </p>
          <p class="inline-block">
            Unverified<span class="label label-warning">{{stat?.unverified}}</span> 
          </p>
        </div>

        <div *ngIf="type === 'user'" class="card-fancy green-zone">
          <p class="inline-block">
            Total<span class="label label-danger">{{stat?.all}}</span>
          </p>
          <p class="inline-block">
            Actived <span class="label label-success">{{stat?.activated}}</span> 
          </p>
          <p class="inline-block">
            InActived <span class="label label-warning">{{stat?.deactivated}}</span> 
          </p>
        </div>

        <div *ngIf="type === 'product'" class="card-fancy purple-zone">
          <p class="inline-block">
           Total<span class="label label-danger">{{stat?.total}}</span>
          </p>
        </div>

        <div *ngIf="type === 'order'" class="card-fancy orange-zone">
          <p class="inline-block">
           Total Order<span class="label label-danger">{{stat?.totalParentOrder}}</span>
          </p>
          <p class="inline-block">
            Total Sub Order<span class="label label-danger">{{stat?.all}}</span>
          </p>
          <p class="inline-block">
            Completed<span class="label label-success">{{stat?.completed}}</span> 
          </p>
          <p class="inline-block">
            Shipping<span class="label label-success">{{stat?.shipping}}</span> 
          </p>
          <p class="inline-block">
            Progressing<span class="label label-info">{{stat?.progressing}}</span> 
          </p>
          <p class="inline-block">
            Pending<span class="label label-info">{{stat?.pending}}</span> 
          </p>
          <p class="inline-block">
            Refunded<span class="label label-warning">{{stat?.refunded}}</span> 
          </p>
          <p class="inline-block">
            Cancelled<span class="label label-warning">{{stat?.cancelled}}</span> 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
